In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession, Row
spark=SparkSession.builder.appName('SparkSQL039').getOrCreate()
sc=spark.sparkContext

In [3]:
def extract_row(line):
    fields=line.split(',')
    return Row(ID=int(fields[0]),
               name=str(fields[1].encode("utf-8")),
               age=int(fields[2]),
               numFriends=int(fields[3]))
people=sc.textFile('/home/ggomarr/Documents/Education/Udemy_Spark/10_fakefriends.csv').map(extract_row)
people_df=spark.createDataFrame(people).cache()

In [4]:
people_df.createOrReplaceTempView("people")
teen_lst=spark.sql('SELECT * FROM people WHERE age >= 13 AND age <= 19')
for teen in teen_lst.collect():
    print(teen)

Row(ID=21, age=19, name=u'Miles', numFriends=268)
Row(ID=52, age=19, name=u'Beverly', numFriends=269)
Row(ID=54, age=19, name=u'Brunt', numFriends=5)
Row(ID=106, age=18, name=u'Beverly', numFriends=499)
Row(ID=115, age=18, name=u'Dukat', numFriends=397)
Row(ID=133, age=19, name=u'Quark', numFriends=265)
Row(ID=136, age=19, name=u'Will', numFriends=335)
Row(ID=225, age=19, name=u'Elim', numFriends=106)
Row(ID=304, age=19, name=u'Will', numFriends=404)
Row(ID=341, age=18, name=u'Data', numFriends=326)
Row(ID=366, age=19, name=u'Keiko', numFriends=119)
Row(ID=373, age=19, name=u'Quark', numFriends=272)
Row(ID=377, age=18, name=u'Beverly', numFriends=418)
Row(ID=404, age=18, name=u'Kasidy', numFriends=24)
Row(ID=409, age=19, name=u'Nog', numFriends=267)
Row(ID=439, age=18, name=u'Data', numFriends=417)
Row(ID=444, age=18, name=u'Keiko', numFriends=472)
Row(ID=492, age=19, name=u'Dukat', numFriends=36)
Row(ID=494, age=18, name=u'Kasidy', numFriends=194)

In [6]:
teen_lst.show()

+---+---+-------+----------+
| ID|age|   name|numFriends|
+---+---+-------+----------+
| 21| 19|  Miles|       268|
| 52| 19|Beverly|       269|
| 54| 19|  Brunt|         5|
|106| 18|Beverly|       499|
|115| 18|  Dukat|       397|
|133| 19|  Quark|       265|
|136| 19|   Will|       335|
|225| 19|   Elim|       106|
|304| 19|   Will|       404|
|341| 18|   Data|       326|
|366| 19|  Keiko|       119|
|373| 19|  Quark|       272|
|377| 18|Beverly|       418|
|404| 18| Kasidy|        24|
|409| 19|    Nog|       267|
|439| 18|   Data|       417|
|444| 18|  Keiko|       472|
|492| 19|  Dukat|        36|
|494| 18| Kasidy|       194|
+---+---+-------+----------+

In [7]:
people_df.groupBy('age').count().orderBy('age').show()

+---+-----+
|age|count|
+---+-----+
| 18|    8|
| 19|   11|
| 20|    5|
| 21|    8|
| 22|    7|
| 23|   10|
| 24|    5|
| 25|   11|
| 26|   17|
| 27|    8|
| 28|   10|
| 29|   12|
| 30|   11|
| 31|    8|
| 32|   11|
| 33|   12|
| 34|    6|
| 35|    8|
| 36|   10|
| 37|    9|
+---+-----+
only showing top 20 rows

In [12]:
spark.sql('SELECT age,MEAN(numFriends),COUNT(ID) FROM people GROUP BY age ORDER BY age').show()

+---+------------------+---------+
|age|   avg(numFriends)|count(ID)|
+---+------------------+---------+
| 18|           343.375|        8|
| 19|213.27272727272728|       11|
| 20|             165.0|        5|
| 21|           350.875|        8|
| 22|206.42857142857142|        7|
| 23|             246.3|       10|
| 24|             233.8|        5|
| 25|197.45454545454547|       11|
| 26|242.05882352941177|       17|
| 27|           228.125|        8|
| 28|             209.1|       10|
| 29|215.91666666666666|       12|
| 30| 235.8181818181818|       11|
| 31|            267.25|        8|
| 32| 207.9090909090909|       11|
| 33| 325.3333333333333|       12|
| 34|             245.5|        6|
| 35|           211.625|        8|
| 36|             246.6|       10|
| 37|249.33333333333334|        9|
+---+------------------+---------+
only showing top 20 rows

In [24]:
people_df_2=spark.read.csv('/home/ggomarr/Documents/Education/Udemy_Spark/10_fakefriends.csv',
                           sep=',',
                           inferSchema=True)
people_df_2.show()

+---+--------+---+---+
|_c0|     _c1|_c2|_c3|
+---+--------+---+---+
|  0|    Will| 33|385|
|  1|Jean-Luc| 26|  2|
|  2|    Hugh| 55|221|
|  3|  Deanna| 40|465|
|  4|   Quark| 68| 21|
|  5|  Weyoun| 59|318|
|  6|  Gowron| 37|220|
|  7|    Will| 54|307|
|  8|  Jadzia| 38|380|
|  9|    Hugh| 27|181|
| 10|     Odo| 53|191|
| 11|     Ben| 57|372|
| 12|   Keiko| 54|253|
| 13|Jean-Luc| 56|444|
| 14|    Hugh| 43| 49|
| 15|     Rom| 36| 49|
| 16|  Weyoun| 22|323|
| 17|     Odo| 35| 13|
| 18|Jean-Luc| 45|455|
| 19|  Geordi| 60|246|
+---+--------+---+---+
only showing top 20 rows

In [25]:
people_df_2.schema

StructType(List(StructField(_c0,IntegerType,true),StructField(_c1,StringType,true),StructField(_c2,IntegerType,true),StructField(_c3,IntegerType,true)))

In [26]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

schema=StructType([StructField("ID", IntegerType()),
                   StructField("name", StringType()),
                   StructField("age", IntegerType()),
                   StructField("friends", IntegerType())])
people_df_2=spark.read.csv('/home/ggomarr/Documents/Education/Udemy_Spark/10_fakefriends.csv',
                           sep=',',
                           schema=schema)
people_df_2.show()

+---+--------+---+-------+
| ID|    name|age|friends|
+---+--------+---+-------+
|  0|    Will| 33|    385|
|  1|Jean-Luc| 26|      2|
|  2|    Hugh| 55|    221|
|  3|  Deanna| 40|    465|
|  4|   Quark| 68|     21|
|  5|  Weyoun| 59|    318|
|  6|  Gowron| 37|    220|
|  7|    Will| 54|    307|
|  8|  Jadzia| 38|    380|
|  9|    Hugh| 27|    181|
| 10|     Odo| 53|    191|
| 11|     Ben| 57|    372|
| 12|   Keiko| 54|    253|
| 13|Jean-Luc| 56|    444|
| 14|    Hugh| 43|     49|
| 15|     Rom| 36|     49|
| 16|  Weyoun| 22|    323|
| 17|     Odo| 35|     13|
| 18|Jean-Luc| 45|    455|
| 19|  Geordi| 60|    246|
+---+--------+---+-------+
only showing top 20 rows

In [27]:
people_df_2.groupBy('age').count().orderBy('age').show()

+---+-----+
|age|count|
+---+-----+
| 18|    8|
| 19|   11|
| 20|    5|
| 21|    8|
| 22|    7|
| 23|   10|
| 24|    5|
| 25|   11|
| 26|   17|
| 27|    8|
| 28|   10|
| 29|   12|
| 30|   11|
| 31|    8|
| 32|   11|
| 33|   12|
| 34|    6|
| 35|    8|
| 36|   10|
| 37|    9|
+---+-----+
only showing top 20 rows